* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: azure;
}

.barra {
    height: 100px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    opacity: .8;
}

.barraTitulo {
    color: blue;
    font-size: 30px;
}

.barraSeleccion {
    display: flex;
    align-items: center;
    gap: 40px;
}

.barraPalabra {
    color: darkgray;
    text-decoration: none;
    font-size: 19px;
}

.barraCaja {
    background-color: #0059ff;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.barraCaja::after {
    position: absolute;
    top: 0px;
    left: 0px;
    content:  " ";
    background: #0F2027;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
}

.barraPalabra2 {
    color: white;
    font-size: 19px;
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 350px;
}

.introTexts {
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.introTextTitulo {
    font-size: 50px;
    color: #002a79;
    font-weight: 900;
}

.introText {
    color: #c2c2ce;
    font-size: 21px;
    font-weight: 700;
}

.introTexts2 {
    display: flex;
    gap: 80px;
    color: #002a79;
    font-size: 13px;
}

.introTextsShield {
    display: flex;
    align-items: center;
    gap: 10px;
}

.shieldImg {
    width: 15px;
    position: relative;
}

.introTextStar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.starImg {
    width: 15px;
}

.vaccinationImg {
    width: 400px;
}

.introText2 {
    color: #002a79;
    font-size: 18px;
    font-weight: 700;
}

.introText2Clock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.clockImg {
    width: 25px;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.logo {
    width: 200px;
}

.should {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.shouldQuestion {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    margin: 30px 110px;
}

.shouldQuestionTittle {
    color: #002a79;
    font-size: 25px;
    font-weight: 900;
}

.shouldQuestionText {
    color: #002a79;
    font-size: 18px;
}

.shouldBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.shouldBox {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-style: solid;
    border-color: #9ab8ff;
    border-radius: 10px;
    border-width: 2px;
}

.icon {
    width: 35px;
}

.shouldBoxTittle {
    width: 200px;
    color: #002a79;
    font-size: 20px;
    font-weight: 700;
}

.shouldBoxText {
    width: 200px;
    color: #002a79;
    font-size: 15px;
}

.preparation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.preparationTexts {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.preparationTittle {
    color: #002a79;
    font-size: 25px;
    font-weight: 900;
}

.preparationText {
    width: 480px;
    color: #002a79;
    font-size: 18px;
}

.preparationIconsList {
    list-style: none;
    color: #002a79;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.preparationIconListText {
    font-size: 12px;
}

.preparationIconsPoints {
    text-decoration: none;
    color: #002a79;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list > .preparationIconsPoints {
    float: left;
}

.list .preparationIconsPoints .preparationIconsList {
    display: none;
}

.list .preparationIconsPoints:hover > .preparationIconsList {
    display: block;
}

.emergency {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 100px;
}

.emergencyTexts {
    width: 700px;
    margin: 30px 110px;
}

.emergencyTextsTittle {
    color: #002a79;
    font-size: 25px;
    font-weight: 900;
}

.emergencyTextsText {
    color: #002a79;
    font-size: 18px;
}

.emergencyBoxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 110px;
}

.emergencyBoxesBoxes {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.emergencyBoxesBoxes1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.emergencyBoxesBoxes2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.emergencyBox {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-style: solid;
    border-color: #9ab8ff;
    border-radius: 10px;
    border-width: 2px;
}

.emergencyBoxTextFactTittle {
    color: #002a79;
    font-size: 20px;
}

.emergencyBoxTextFactText {
    color: #002a79;
    font-size: 16px;
}

.emergencyBoxText {
    display: flex;
    gap: 20px;
}

.phoneIcon {
    width: 40px;
    height: 40px;
}

.emergencyBoxButton {
    background-color: #d8e6ff;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #002a79;
    font-size: 19px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.emergencyBoxButton::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -100;
    border-radius: 10px;
}

.emergencyBoxButton:hover {
    transform: translate(0, -6px);
    box-shadow: 3px 6px 15px 0 #2e3341;
    color: white;
    background-color: #0048cf;
}

.pie {
    background-color: #ecf5ff;
    display: flex;
    flex-direction: column;
}

.pieBoxes {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.pieText {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pieTextTittle {
    color: #002a79;
    font-size: 20px;
    font-weight: 900;
}

.pieTextText {
    color: #4b4c4f;
    font-size: 14px;
}

.pieACS {
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.pieACS2 {
    text-decoration: none;
}

.pieACSTittle {
    color: #001843;
    font-size: 18px;
    font-weight: 900;
}

.pieACSList {
    color: #4b4c4f;
    font-size: 14px;
    text-decoration: none;
}

.pieRights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    color: #4b4c4f;
    font-size: 14px;
}

.pieTerms {
    display: flex;
    gap: 25px;
    text-decoration: none;
    color: #4b4c4f;
}